# Practical Application III: Comparing Classifiers

**Overview**: In this practical application, your goal is to compare the performance of the classifiers we encountered in this section, namely K Nearest Neighbor, Logistic Regression, Decision Trees, and Support Vector Machines.  We will utilize a dataset related to marketing bank products over the telephone.

### Getting Started

Our dataset comes from the UCI Machine Learning repository [link](https://archive.ics.uci.edu/ml/datasets/bank+marketing).  The data is from a Portugese banking institution and is a collection of the results of multiple marketing campaigns.  We will make use of the article accompanying the dataset [here](CRISP-DM-BANK.pdf) for more information on the data and features.

### Problem 1: Understanding the Data

To gain a better understanding of the data, please read the information provided in the UCI link above, and examine the **Materials and Methods** section of the paper.  How many marketing campaigns does this data represent?

This data represents 17 campaigns.

### Problem 2: Read in the Data

Use pandas to read in the dataset `bank-additional-full.csv` and assign to a meaningful variable name.

In [1]:
import pandas as pd
import numpy as np
import time

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [2]:
df = pd.read_csv('data/bank-additional-full.csv', sep = ';')

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

### Problem 3: Understanding the Features


Examine the data description below, and determine if any of the features are missing values or need to be coerced to a different data type.


```
Input variables:
# bank client data:
1 - age (numeric)
2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5 - default: has credit in default? (categorical: 'no','yes','unknown')
6 - housing: has housing loan? (categorical: 'no','yes','unknown')
7 - loan: has personal loan? (categorical: 'no','yes','unknown')
# related with the last contact of the current campaign:
8 - contact: contact communication type (categorical: 'cellular','telephone')
9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10 - day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11 - duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
# other attributes:
12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14 - previous: number of contacts performed before this campaign and for this client (numeric)
15 - poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
# social and economic context attributes
16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
17 - cons.price.idx: consumer price index - monthly indicator (numeric)
18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)
19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
20 - nr.employed: number of employees - quarterly indicator (numeric)

Output variable (desired target):
21 - y - has the client subscribed a term deposit? (binary: 'yes','no')
```

In [4]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [5]:
#Converting the feature y to a numeric data type
df['y'] = df['y'].map({'yes': 1, 'no': 0})
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

### Problem 4: Understanding the Task

After examining the description and data, your goal now is to clearly state the *Business Objective* of the task.  State the objective below.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

The business objective is to use classification models to predict if the client will subscribe to a term deposit or not.

### Problem 5: Engineering Features

Now that you understand your business objective, we will build a basic model to get started.  Before we can do this, we must work to encode the data.  Using just the bank information features, prepare the features and target column for modeling with appropriate encoding and transformations.

In [7]:
X = df.iloc[:, 0:7]
y = df['y']

cat_features = ['job', 'marital', 'education', 'default', 'housing', 'loan']
cat_features

['job', 'marital', 'education', 'default', 'housing', 'loan']

In [8]:
X.head()

   age        job  marital    education  default housing loan
0   56  housemaid  married     basic.4y       no      no   no
1   57   services  married  high.school  unknown      no   no
2   37   services  married  high.school       no     yes   no
3   40     admin.  married     basic.6y       no      no   no
4   56   services  married  high.school       no      no  yes

In [9]:
encoder = LabelEncoder()

for feature in cat_features:
    X[feature] = encoder.fit_transform(X[feature])
X.head()

   age  job  marital  education  default  housing  loan
0   56    3        1          0        0        0     0
1   57    7        1          3        1        0     0
2   37    7        1          3        0        2     0
3   40    0        1          1        0        0     0
4   56    7        1          3        0        0     2

In [10]:
y

0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y, Length: 41188, dtype: int64

### Problem 6: Train/Test Split

With your data prepared, split it into a train and test set.

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [12]:
X_train.shape, y_train.shape

((28831, 7), (28831,))

In [13]:
X_test.shape, y_test.shape

((12357, 7), (12357,))

### Problem 7: A Baseline Model

Before we build our first model, we want to establish a baseline.  What is the baseline performance that our classifier should aim to beat?

In [14]:
baseline_score = df['y'].value_counts(normalize = True)[0]
baseline_score

0.8873458288821987

### Problem 8: A Simple Model

Use Logistic Regression to build a basic model on your data.

In [15]:
result_df = pd.DataFrame(index = ['Logistic Regression', 'KNN', 'Decision Tree', 'SVM'])

train_time = []
train_accuracy = []
test_accuracy = []

In [16]:
model_lgr = LogisticRegression()
start_time = time.time()
model_lgr.fit(X_train, y_train)
fit_time = time.time() - start_time
train_time.append(fit_time)

### Problem 9: Score the Model

What is the accuracy of your model?

In [17]:
train_score = model_lgr.score(X_train, y_train)
test_score = model_lgr.score(X_test, y_test)

train_accuracy.append(train_score)
test_accuracy.append(test_score)

print(train_score)
print(test_score)

0.8872394297804447
0.8875940762320952

### Problem 10: Model Comparisons

Now, we aim to compare the performance of the Logistic Regression model to our KNN algorithm, Decision Tree, and SVM models.  Using the default settings for each of the models, fit and score each.  Also, be sure to compare the fit time of each of the models.  Present your findings in a `DataFrame` similar to that below:

| Model | Train Time | Train Accuracy | Test Accuracy |
| ----- | ---------- | -------------  | -----------   |
|     |    |.     |.     |

In [18]:
#KNN
model_knn = KNeighborsClassifier()
start_time = time.time()
model_knn.fit(X_train, y_train)
fit_time = time.time() - start_time
train_time.append(fit_time)

In [19]:
train_score = model_knn.score(X_train, y_train)
test_score = model_knn.score(X_test, y_test)

train_accuracy.append(train_score)
test_accuracy.append(test_score)

print(train_score)
print(test_score)

0.890222330130762
0.8771546491866958

In [20]:
#Decision Tree
model_dtree = DecisionTreeClassifier()
start_time = time.time()
model_dtree.fit(X_train, y_train)
fit_time = time.time() - start_time
train_time.append(fit_time)

In [21]:
train_score = model_dtree.score(X_train, y_train)
test_score = model_dtree.score(X_test, y_test)

train_accuracy.append(train_score)
test_accuracy.append(test_score)

print(train_score)
print(test_score)

0.9179702403662724
0.8612122683499231

In [22]:
#SVM
model_svc = SVC()
start_time = time.time()
model_svc.fit(X_train, y_train)
fit_time = time.time() - start_time
train_time.append(fit_time)

In [23]:
train_score = model_svc.score(X_train, y_train)
test_score = model_svc.score(X_test, y_test)

train_accuracy.append(train_score)
test_accuracy.append(test_score)

print(train_score)
print(test_score)

0.8872394297804447
0.8875940762320952

In [24]:
result_df['Train Time'] = train_time
result_df['Train Accuracy'] = train_accuracy
result_df['Test Accuracy'] = test_accuracy

result_df

                     Train Time  Train Accuracy  Test Accuracy
Logistic Regression    0.147857        0.887239       0.887594
KNN                    0.035974        0.890222       0.877155
Decision Tree          0.033983        0.917970       0.861212
SVM                   27.567195        0.887239       0.887594

### Problem 11: Improving the Model

Now that we have some basic models on the board, we want to try to improve these.  Below, we list a few things to explore in this pursuit.

- More feature engineering and exploration.  For example, should we keep the gender feature?  Why or why not?
- Hyperparameter tuning and grid search.  All of our models have additional hyperparameters to tune and explore.  For example the number of neighbors in KNN or the maximum depth of a Decision Tree.  
- Adjust your performance metric

In [25]:
#Grid Searching over Decision Tree parameters
param = {'max_depth': [2, 3, 4, 5], 'min_samples_split': [6, 10]}
grid = GridSearchCV(model_dtree, param_grid = param, scoring = 'accuracy').fit(X_train, y_train)
grid_score = grid.score(X_test, y_test)
grid_score

0.8875940762320952

In [26]:
#Grid Searching over KNN parameters
param = {'n_neighbors': [2, 3, 4, 5]}
grid = GridSearchCV(model_knn, param_grid = param, scoring = 'accuracy').fit(X_train, y_train)
grid_score = grid.score(X_test, y_test)
grid_score

0.8830622319333171